---
layout: default
title: Home
splash: true
splash-img: /assets/img/rhonebw_sm.jpg
splash-text: glaciers, electronics,<br/>bikes and vertical things
maxposts: 3
---
<div class="uk-padding uk-padding-remove-horizontal uk-grid-divider" uk-grid>

  <div class="uk-width-1-3@l">
    <h2 class="uk-heading-divider">About Me</h2>
    <img data-src="/assets/img/profile.png" class="uk-align-right" width="96px" alt="Image" uk-img>
    <p>
      I'm an electronic engineer and glaciologist with experience in developing instrumentation and taking part in fieldwork to study processes in the cryosphere.
      I have a particular interest in radioglaciology - the application of radio instrumentation to study properties of glaciers - and have worked on the development of radar systems to image the base of ice shelves and processes in the firn.
    </p>
    <p>
      Currently, I am a postdoctoral research associate at Cardiff University in the <a href="http://github.com/chilcardiff/">CHIL</a> group.
      The group develops and deploys the Cryoegg and Cryowurst instruments to study glacial hydrology and ice dynamics processes. 
    </p>
    <p>
      In my spare time, I enjoy mountaineering, cycling and painting which makes up the bulk of this website.
      Hopefully there's something on here to take your interest and do get in touch should you have any questions.
    </p>
    <a class="uk-button uk-button-default" href="/about">Read More</a>
  </div>

  <div class="uk-width-2-3@l">
    <h2 class="uk-heading-divider">Blog Posts</h2>
    <p>
      Check out what I've been up to recently below, or find all of my posts <a href="/blog/">here</a>.
    </p>
    {% for post in site.posts %}
      {% if forloop.index > page.maxposts %}
        {% break %}
      {% endif %}
      <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-margin-bottom">
        <div class="uk-card-media-left uk-cover-container uk-width-1-3@s">
          <img data-src="{{ post.thumbnail }}" uk-img uk-cover/>
          <canvas width="100" height="100"></canvas>
        </div>
        <div class="uk-width-2-3@s">
          <div class="uk-card-header">
            <h3 class="uk-card-title uk-margin-remove-bottom">{{ post.title }}</h3>
            <p class="uk-text-meta uk-margin-remove-top">
              Written by {{ post.author }} on {{ post.date | date_to_string }}
            </p>
          </div>
          <a class="uk-margin-bottom uk-margin-top uk-margin-left uk-button uk-button-default"  href="{{ post.url }}">Read More</a>
        </div>
      </div>
    {% else %}
      There are no posts to display.
    {% endfor %}
      <!--
      <div class="uk-width-2-3">
        <h3>Rhone Glacier Fieldwork</h3>
        <p>
          Testing the HF ApRES on the Rhone Glacier, southern Switzerland.
        </p>
      </div>
      <div class="uk-width-1-3 uk-flex-first">
        <img src="/assets/img/rhonebw.jpg">
      </div>
    </div>
    <div class="uk-flex-middle" uk-grid>
      <div class="uk-width-2-3">
        <h3>Cycling on Skye</h3>
        <p>
          A week cycle touring around the Isle of Skye, with a Cuilin trail-run thrown in.
        </p>
      </div>
      <div class="uk-width-1-3 uk-flex-first">
        <img src="/assets/img/neistpoint.jpg">
      </div>
    </div>
    <div class="uk-flex-middle" uk-grid>
      <div class="uk-width-2-3">
        <h3>Scottish Not-so-winter</h3>
        <p>
          Rock-climbing in Scotland in February? Where did all the snow go?
        </p>
      </div>
      <div class="uk-width-1-3 uk-flex-first">
        <img src="/assets/img/nathanclimbing.jpg">
      </div>
      -->
    </div>
</div>
