---
layout: default
title: Home
splash: true
splash-img: /assets/img/rhonebw_sm.jpg
splash-text: glaciers, electronics,<br/>bikes and vertical things
maxposts: 3
---
<div class="uk-padding uk-padding-remove-horizontal uk-grid-divider" uk-grid>

  <div class="uk-width-1-3@l">
    <h2 class="uk-heading-divider">About Me</h2>
    <img data-src="/assets/img/profile.png" class="uk-align-right" width="96px" alt="Image" uk-img>
    <p>
      I’m a PhD student in electronic engineering and radioglaciology based at University College London, using high-frequency phase-sensitive radar to produce synthetic aperture radar (SAR) imagery of ice sheets and glaciers. More broadly, I’m interested by applications of remote monitoring and ground-based electronic sensing to glaciology and glacial hydrology.  In my spare time, I enjoy mountaineering, cycling and painting.
    </p>
    <p>
      Hopefully there's something on here to take your interest, and please don't hesitate to get in touch should you have any questions.
    </p>
    <a class="uk-button uk-button-default" href="/about">Read More</a>
  </div>

  <div class="uk-width-2-3@l">
    <h2 class="uk-heading-divider">Blog Posts</h2>
    <p>
      Check out what I've been up to recently below, of find all of my posts <a href="/blog/">here</a>.
    </p>
    {% for post in site.posts %}
      {% if forloop.index > page.maxposts %}
        {% break %}
      {% endif %}
      <div class="uk-card uk-card-default uk-grid uk-grid-collapse uk-margin-bottom">
        <div class="uk-card-media-left uk-cover-container uk-width-1-3@s">
          <img data-src="{{ post.thumbnail }}" uk-img uk-cover/>
          <canvas width="100" height="100"></canvas>
        </div>
        <div class="uk-width-2-3@s">
          <div class="uk-card-header">
            <h3 class="uk-card-title uk-margin-remove-bottom">{{ post.title }}</h3>
            <p class="uk-text-meta uk-margin-remove-top">
              Written by {{ post.author }} on {{ post.date | date_to_string }}
            </p>
          </div>
          <a class="uk-margin-bottom uk-margin-top uk-margin-left uk-button uk-button-default"  href="{{ post.url }}">Read More</a>
        </div>
      </div>
    {% else %}
      There are no posts to display.
    {% endfor %}
      <!--
      <div class="uk-width-2-3">
        <h3>Rhone Glacier Fieldwork</h3>
        <p>
          Testing the HF ApRES on the Rhone Glacier, southern Switzerland.
        </p>
      </div>
      <div class="uk-width-1-3 uk-flex-first">
        <img src="/assets/img/rhonebw.jpg">
      </div>
    </div>
    <div class="uk-flex-middle" uk-grid>
      <div class="uk-width-2-3">
        <h3>Cycling on Skye</h3>
        <p>
          A week cycle touring around the Isle of Skye, with a Cuilin trail-run thrown in.
        </p>
      </div>
      <div class="uk-width-1-3 uk-flex-first">
        <img src="/assets/img/neistpoint.jpg">
      </div>
    </div>
    <div class="uk-flex-middle" uk-grid>
      <div class="uk-width-2-3">
        <h3>Scottish Not-so-winter</h3>
        <p>
          Rock-climbing in Scotland in February? Where did all the snow go?
        </p>
      </div>
      <div class="uk-width-1-3 uk-flex-first">
        <img src="/assets/img/nathanclimbing.jpg">
      </div>
      -->
    </div>
</div>
