<div class="uk-container uk-light">
  <div uk-grid class="uk-padding uk-padding-remove-horizontal">
    <div class="uk-width-1-3@m">
      <h3>Contact</h3>
      <p>Feel free to get in touch with me via email on <a href="mailto:jono@jonohawkins.co.uk">jono@jonohawkins.co.uk</a></p>
    </div>
    <div class="uk-width-1-3@m">
      <h3>Sitemap</h3>
      <ul>
        <li><a href="/">Home</a>
        <li><a href="/about">About</a>
        <li><a href="/blog">Blog</a>
      </ul>
    </div>
  </div>
</div>
<!-- End of Footer Internal -->
