<!doctype HTML>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>jonohawkins / {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/uikit-core.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/uikit.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
  <script src="/assets/js/uikit.min.js"></script>
  <script src="/assets/js/uikit-icons.min.js"></script>
</head>
<body>
  {% if page.splash %}
  <div class="uk-position-top uk-padding uk-padding-remove-vertical">
      {% include navbar.html %}
  </div>
  <div class="uk-light uk-background-cover uk-background-center-center uk-height-viewport uk-flex uk-flex-left" style="background-image: url('{{ page.splash-img }}')">
    <div class="uk-container">
      <div class="uk-padding-large uk-position-center-left welcome-text">
        <h1 class="uk-heading-large" style="margin-bottom:0">{{ page.splash-header }}</h1>
        <div class="uk-padding uk-padding-remove-vertical">
          <h2 style="margin:0">{{ page.splash-text }}</h2>
          <a class="uk-light" href="#pagestart" uk-icon="icon: chevron-down; ratio: 2" uk-scroll></a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="header">
    <div class="uk-container uk-margin-remove-adjacent">
      {% include navbar.html %}
    </div>
  </div>
  {% endif %}
  <div id="pagestart" class="content">
    <div class="uk-container">
      {{ content }}
    </div>
  </div>
  <!-- End of Content -->
  <div class="footer">
    {% include footer.html %}
  </div>
  <!-- End of Footer -->
</body>
</html>
