<!doctype HTML>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>jonohawkins / {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/uikit-core.min.css">
  <link rel="stylesheet" type="text/css" href="/css/uikit.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
  <script src="/js/uikit.min.js"></script>
  <script src="/js/uikit-icons.min.js"></script>
</head>
<body>
  <div class="uk-position-top">
    {% include navbar.html %}
  </div>
  
  <div id="pagestart" class="uk-container">
    {{ content }}
  </div>
  {% include footer.html %}
</body>
</html>
